.bienvenida-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f0fdf4; /* verde muy suave */
  padding: 2rem;
}

.bienvenida-menu-card {
  background-color: #ffffff;
  border: 2px solid #a7f3d0;
  box-shadow: 0 4px 10px rgba(0, 128, 0, 0.1);
  border-radius: 12px;
  padding: 2rem 3rem;
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.bienvenida-menu-logo {
  width: 100px;
  margin-bottom: 1rem;
}

.bienvenida-menu-titulo {
  font-size: 2rem;
  color: #047857;
  margin-bottom: 0.5rem;
}

.bienvenida-menu-texto {
  font-size: 1rem;
  color: #065f46;
}
